
<div style="justify-content: center;">
    <div class="col" style="background: #121212;">
        <div class="container" style="padding: 0px;padding-right: 0px;background: rgb(18,18,18);display: flex;justify-content: center;align-items: center;display: flex;margin: 0px;max-width: 1132px;min-width: auto;height: 322.25px;color: rgb(10,33,57);">
            <div style="text-align:center">
                <h1 style="color: var(--bs-gray-100);text-shadow: 1px 5px 8px var(--bs-gray-400);">{{name}}</h1>
                <p style="font-size: 24px;color: var(--bs-gray-100);text-shadow: 0px 2px 6px;">web developer and designer&nbsp;</p>
                <button class="btn btn-primary" type="button" style="padding: 10px;background: rgb(18,18,18);border-color: rgb(255, 255, 255);border-top-color: rgb(255,;border-right-color: 255,;border-bottom-color: 255);border-left-color: 255,;margin-top: 39px;">contact me</button>
            </div>
            <div style="margin-left: 21%;"><img src="assets/img/1.jpg" style="width: 312px;height: 262.047px;border-radius: 50%;box-shadow:0px 0px 8px 2px #ffffff;"></div>
        </div>
    </div>
</div>
